* {
    background:     #000000;
    background-alt: #3A0CA3;
    foreground:     #FFFFFF;
    foreground-alt: #F5F5F5;
    selected:       #0F0F0F;
    active:         #50FA7B;
    urgent:         #FF5555;
}
